* {
    box-sizing: border-box;
    cursor: default;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

body, html {
    margin: 0;
}

.containBox {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: #fff;
    font-family: SourceHanSansCN-Light;
    margin-top: 53px;
}

.topBag {
    width: 100%;
    height: 120px;
    background-image: url(../img/Software/software_top_app.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.titleTop {
    text-align: center;
    color: #373737;
    font-size: 20px;
    padding: 20px 0;
}

.titleTop img {
    width: 18px;
    height: auto;
}

.contain {
    font-size: 0;
    padding: 0 4%;
}

.contain .item {
    border: 1px solid #CCCCCC;
    display: inline-block;
    width: 48%;
    text-align: center;
    margin-right: 2%;
    margin-bottom: 35px;
}

.contain .items {
    margin-right: 0;
    margin-left: 2%;
}

.item .top img {
    width: 25px;
    height: auto;
    margin-top: -13px;
    background: #fff;
}

.item .top1 img {
    width: 80px;
    height: auto;
    margin-top: -15px;
    background: #fff;
}

.item .top2 img {
    width: 34px;
    height: auto;
    margin-top: -18px;
    background: #fff;
}

.item .name {
    color: #060001;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.item .info {
    color: #666666;
    font-size: 10px;
    font-weight: 400;
    margin-top: 25px;
    min-height: 48px;
    min-height: 48px;
}

.item .price {
    color: #2D85FD;
    font-size: 12px;
    font-weight: 500;
    margin-top: 25px;
}

.item .btn {
    margin-top: 25px;
    margin-bottom: -10px;
}

.item .btn .btns {
    display: inline-block;
    padding: 0 5px;
    line-height: 20px;
    background: #2D85FD;
    color: #fff;
    border-radius: 25px;
    font-size: 10px;
}

.bottomBag {
    display: none;
}

.bottomBag p {
    color: #000;
}

.boxLive {
    display: none;
}

.containBox .photoApp {
    color: #ffffff;
    background: #2D85FD;
    line-height: 40px;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 15px 15px;
    text-align: center;
}

.containBox .address {
    color: #535353;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    padding: 0 15px;
}

.containBox .roleInfo {
    color: #B0B0B0;
    font-size: 12px;
    padding: 0 15px;
}

.roleInfo a {
    color: #B0B0B0;
}

.containBox .scrollTop {
    color: #444444;
    background: #E4E4E4;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 60px;
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 1000px) {
    .containBox {
        margin-top: 40px;
    }

    .topBag {
        background: #fff;
        padding: 10px 0;
        height: 200px;
    }

    .topBag .bag {
        height: 180px;
        background-image: url(../img/Software/software_top.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .bottomBag {
        display: block;
        position: relative;
        width: 100%;
        height: 65px;
        background-image: url(../img/Software/software_bottom.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .bottomBag .companyInfo {
        position: absolute;
        top: 12px;
        left: 25%;
    }

    .titleTop {
        text-align: center;
        color: #373737;
        font-size: 20px;
        padding: 20px 0;
    }

    .titleTop img {
        width: 18px;
        height: auto;
    }

    .contain {
        font-size: 0;
        padding: 0 100px;
    }

    .contain .item {
        border: 1px solid #CCCCCC;
        display: inline-block;
        width: 31.33%;
        text-align: center;
        margin-bottom: 35px;
        margin-right: 1%;
        margin-left: 1%;
    }

    .contain .items {
        margin-right: 1%;
        margin-left: 1%;
    }

    .item .top img {
        width: 25px;
        height: auto;
        margin-top: -13px;
        background: #fff;
    }

    .item .top1 img {
        width: 80px;
        height: auto;
        margin-top: -15px;
        background: #fff;
    }

    .item .top2 img {
        width: 34px;
        height: auto;
        margin-top: -18px;
        background: #fff;
    }

    .item .name {
        color: #060001;
        font-size: 14px;
        font-weight: 500;
        margin-top: 10px;
    }

    .item .info {
        color: #666666;
        font-size: 10px;
        font-weight: 400;
        margin-top: 25px;
        padding: 0 20px;
        line-height: 20px;
    }

    .item .price {
        color: #2D85FD;
        font-size: 12px;
        font-weight: 500;
        margin-top: 25px;
    }

    .item .btn {
        margin-top: 25px;
        margin-bottom: -10px;
    }

    .item .btn .btns {
        display: inline-block;
        padding: 0 5px;
        line-height: 20px;
        background: #2D85FD;
        color: #fff;
        border-radius: 25px;
        font-size: 10px;
    }

    .boxLive {
        display: block;
        width: 850px;
        margin: 0 auto;
        padding: 20px 100px;
        border-bottom: 1px solid #EBEBEB;
    }

    .boxLive .photo {
        color: #3D3D3F;
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
    }

    .containBox .photoApp {
        display: none;
    }

    .containBox .scrollTop {
        display: none;
    }

    .containBox .address {
        margin-top: 15px;
        color: #535353;
        font-size: 14px;
        font-weight: bold;
        line-height: 25px;
        text-align: center;
    }

    .containBox .roleInfo {
        color: #B0B0B0;
        font-size: 14px;
        text-align: center;
    }

    .boxLive .infoBox {
        display: flex;
    }

    .boxLive .infoBox .code {
        width: 100px;
        margin-right: 20px;
        padding-top: 15px;
    }

    .infoBox .code img {
        width: 100%;
        height: auto;
    }

    .infoBox .code p {
        font-size: 12px;
        text-align: center;
        color: #808080;
        line-height: 30px;
    }

    .boxLive .infoBox .texts {
        flex: 1;
    }

    .infoBox .texts .title {
        font-size: 16px;
        color: #333333;
        font-weight: bold;
    }

    .infoBox .texts .text {
        font-size: 14px;
        color: #808080;
    }

    .infoBox .texts span {
        display: inline-block;
        width: 30%;
        color: #808080;
    }

    .infoBox .texts span {
        display: inline-block;
        width: 24%;
        line-height: 25px;
    }

    .infoBox .texts .last {
        width: 48%;
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1500px) {
    .topBag {
        background: #fff;
        padding: 10px 0;
        height: 270px;
    }

    .topBag .bag {
        height: 250px;
        background-image: url(../img/Software/software_top.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .bottomBag {
        width: 100%;
        height: 90px;
        background-image: url(../img/Software/software_bottom.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .bottomBag .companyInfo {
        position: absolute;
        top: 20px;
        left: 25%;
        font-size: 17px;
    }

    .contain {
        font-size: 0;
        padding: 0 200px;
    }
}
